.App {
  text-align: center;
}

.nav-ul li {
  display: inline-block;
  padding: 20px;
}
.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}
.register,
.product {
  margin-left: 45%;
}
.login {
  margin-left: 45%;
}
.Login-button {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 0;
  cursor: pointer;
}
.input-field {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}
.button {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  border: 0;
  cursor: pointer;
}
#itm {
  margin-left: 780px;
}
.invalid-input {
  color: red;
  margin-top: -25px;
  display: block;
  margin-left: -230px;
}

.product-list {
  margin-top: 50px;
}
.product-list ul {
  margin: 0px;
}
.search-product-box {
  margin: 20px;
  width: 200px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}
.product-list ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.logo {
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 10rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
